on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    uses: ./.github/workflows/check.yml

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - check
    uses: ./.github/workflows/deploy.yml
